<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <style>.leaflet-container { height: 100%;}</style>
      {% endblock meta %}
      <title>GEOVISOR TDPS | {% block title %}{% endblock %}</title>

      {% block stylesheets %}
      <link href="/static/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
      <link href="/static/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/vendors/nprogress/nprogress.css" rel="stylesheet">
      <link href="/static/vendors/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet">
      <link href="/static/vendors/iCheck/skins/flat/green.css" rel="stylesheet">
      <link href="/static/vendors/bootstrap-progressbar/css/bootstrap-progressbar-3.3.4.min.css" rel="stylesheet">
      <link href="/static/vendors/jqvmap/dist/jqvmap.min.css" rel="stylesheet"/>
      {% endblock stylesheets %}
      <link href="/static/build/css/custom.css" rel="stylesheet">
      <link href="/static/build/css/leaflet.css" rel="stylesheet">
      <link href="/static/build/css/styles.css" rel="stylesheet">
    {% endblock head %}
  </head>

  <body>
  {% block body %}
  <div class="maincontainer-cus">
    <div class="container-cus">
      <div class="menucontainer-cus">
          {% block sidebar %}
              {% include "app/sidebar.html" %}
          {% endblock sidebar %}
      </div>
      <div class="parentcontainer-cus">
        <div class="navcontainer-cus">
          {% block top_navigation %}
              {% include "app/top_navigation.html" %}
          {% endblock top_navigation %}
        </div>
        <div class="mapcontainer-cus">
          {% block content %}
             {{ content }}
          {% endblock content %}
        </div>
      </div>
    </div>
    <footer class="footer-cus">

    </footer>
  </div>
      {% endblock body %}
  </body>
</html>
