{% extends "app/base_site.html" %}
{% load static %}

{% load leaflet_tags %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
{% leaflet_css %}
{{ block.super }}
<style>
.leaflet-container { height: 100%;}
#content{ padding: 0px!important;}
</style>
{% endblock stylesheets %}

{% block content %}

{% block javascript %}
{% leaflet_js %}
<script src="/static/build/js/mousePosition.js"></script>
<script src="/static/build/js/leaflet-groupedlayercontrol/leaflet.groupedlayercontrol.js"></script>
<script src="/static/build/js/L.TileLayer.BetterWMS.js"></script>
<script src="/static/build/js/map_container.js"></script>
{% endblock javascript %}

<div id="map" class="map">
    {% leaflet_map "main" %}
</div>

{% endblock content %}
