{% extends "app/base_site.html" %}

{% block title %} Dashboard 1 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">

    <div class="row">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="dashboard_graph">

          <div class="row x_title">
            <div class="col-md-6">
              <h3>GeoVisor de manejo de Información de Balances Hídricos <small>PNUD - MINAM</small></h3>
            </div>
          </div>

          <div class="col-md-9 col-sm-9 col-xs-12">
<!--            <div id="chart_plot_01" data-stuff='["a","b","c"]' class="demo-placeholder"></div>-->
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur, consequuntur dolorem ea eos eum, molestiae, nam officia sint suscipit voluptatem voluptates voluptatum? Distinctio ducimus ex ipsam laborum suscipit tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur, consequuntur dolorem ea eos eum, molestiae, nam officia sint suscipit voluptatem voluptates voluptatum? Distinctio ducimus ex ipsam laborum suscipit tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur, consequuntur dolorem ea eos eum, molestiae, nam officia sint suscipit voluptatem voluptates voluptatum? Distinctio ducimus ex ipsam laborum suscipit tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur, consequuntur dolorem ea eos eum, molestiae, nam officia sint suscipit voluptatem voluptates voluptatum? Distinctio ducimus ex ipsam laborum suscipit tenetur!</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusamus consequatur, consequuntur dolorem ea eos eum, molestiae, nam officia sint suscipit voluptatem voluptates voluptatum? Distinctio ducimus ex ipsam laborum suscipit tenetur!</p>
          </div>

          <div class="col-md-3 col-sm-3 col-xs-12 bg-white">
            <div class="x_title">
              <h2>Cuencas de estudio</h2>
              <div class="clearfix"></div>
            </div>

            <div class="col-md-12 col-sm-12 col-xs-6">
              <div>
                <p>Cuenca Coata</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="99"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Cuenca Ramis</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="60"></div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12 col-sm-12 col-xs-6">
              <div>
                <p>Cuenca Desaguadero</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="40"></div>
                  </div>
                </div>
              </div>
              <div>
                <p>Cuenca Ilave</p>
                <div class="">
                  <div class="progress progress_sm" style="width: 76%;">
                    <div class="progress-bar bg-green" role="progressbar" data-transitiongoal="50"></div>
                  </div>
                </div>
              </div>
            </div>

          </div>

          <div class="clearfix"></div>
        </div>
      </div>
    </div>

    <br />

    <div class="row">

      <div class="col-md-4 col-sm-4 col-xs-12">
        <img src="/static/images/imagen.jpg" width="800" height="400">
      </div>

    </div>

  </div>
{% endblock content %}
