{% load static %}
{% load leaflet_tags %}
<html lang="en">
<head>
    {% leaflet_js %}
    {% leaflet_css %}
    <style>
      .leaflet-container { height: 100%; }
    </style>

    <meta charset="UTF-8">
    <title>Geocodery</title>

    <script type="text/javascript">
        window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        var searchControl = new L.esri.Controls.Geosearch().addTo(map);
      });
    </script>

    <script type="text/javascript">
      var dataurl = '{% url "data" %}';
      window.addEventListener("map:init", function (event) {
        var map = event.detail.map;
        // Download GeoJSON data with Ajax
        fetch(dataurl)
          .then(function(resp) {
            return resp.json();
          })
          .then(function(data) {
            L.geoJson(data, {
              onEachFeature: function onEachFeature(feature, layer) {
                var props = feature.properties;
                var content = `<h3>${props.estado}</h3><p>${props.nom}</p>`;
                layer.bindPopup(content);
            }}).addTo(map);
          });
      });
    </script>
</head>
<body>

<div id="map" class="map">
    {% leaflet_map "main" %}
</div>

</body>
</html>